* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 35px;
  text-align: center;
  padding: 30px;
}


.row {
  width: 100%;
 }

.box1, .box2, .box3{
  position: relative;  
  
  height:auto;
  background-color: lightblue;
  border-radius: 5px;
  display: inline-block; 
  padding: 5px;
  margin:0.5rem;
  overflow: hidden;
  margin-right: 50px;
}
.title{
  background-color: lightpink;
  font-family: Helvetica;
  float: right;
  position: absolute;
  right: 1px;
  top:0px;
  margin:auto;
  border:1px solid black;
  padding:5px;
}

.content{
  color:white;
  font-family: Helvetica;
  top:20px;
  padding-top: 30px;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .box1, .box2, .box3 {
    float: left;
   width: 26%;

  }
}
 

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .box1, .box2 {
    float: left;
    margin-bottom: 30px; 
   width: 40%;
  }
  .box3{
    float:left;
    width: 90%;
    height: 150px;
  }
}
  
@media (max-width: 767px){
  .box1, .box2, .box3{
  float: left;
   margin-bottom: 20px;
   width: 90%;
  }
}

  

  
